<div id="sidebar-container" style="width: 280px;">
    
    <div class="menu posicion">
      <a href="#" class="nav-link active text-light p-3"  routerLink="/home/pag-principal" ><i class = "fa fa-align-justify"></i>My Bankito</a>
      <a href="#" class="nav-link active text-light p-3"  routerLink="/catalogo/tipo-cuenta"><i class = "fa fa-address-book"></i>Mis Productos</a>
      <a href="#" class="nav-link active text-light p-3"  routerLink="/perfil/datos-personales"><i class = "fa fa-address-card"></i>Mis contactos</a>
    </div>
  </div>
